<div class="row">
	<div class="jumbotron col-xs-12 col-md-12">
		<h1>Idéias Toppest</h1> 
	</div>
</div>
<div class="row">
	<div class="jumbotron col-xs-12 col-md-12">
		<h2>Descrição menorzinha</h2> 
	</div>
</div>
<div class="row">
	<div class="jumbotron col-xs-12 col-md-9">
		<h4>Varias ideia falando de como das ideia muito que bem louca sucesso e alegria</h4> 
	</div>
	<div class="col-xs-12 col-md-3">
		<img src="https://www.w3schools.com/bootstrap/sanfran.jpg" class="img-thumbnail" alt="Cinque Terre">
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-3">
		<img src="https://www.w3schools.com/bootstrap/sanfran.jpg" class="img-thumbnail" alt="Cinque Terre">
	</div>
	<div class="jumbotron col-xs-12 col-md-9">
		<h4>Varias ideia falando de como das ideia muito que bem louca sucesso e alegria</h4> 
	</div>
</div>